<head>
<style>
body {
    background-color: #f0f0f5;
}

button.homeButton {
	margin-left: 80px;
	margin-top: 40px;
}

h1 {
    color: #0000e6;
    margin-left: 80px;
    margin-top: 70px;
} 

* {
	font-family: "Open sans";
	color: #4d4d4d;
}

.menu {
	color: red;
	font-style: bold;
	display: inline-block;
	vertical-align: middle;
}

div.text {
	display: inline-block;
	margin-left: 80px;
	margin-right: 140px;
}

div.divMaster {
	display: flex;
	justify-content: center;
}

div.divMiddle:hover > p{
	color: white;
}

div.divMiddle:hover {
	background-color:#ff0066;
}

div.divMiddle > p {
	color: #ff0066;
	margin-left: 5px;
	margin-right: 5px;
}

div.divRight > p {
	text-align: left;
}

div.divRight {
	margin-left: 0px;
	color: white;
    /*background: -webkit-linear-gradient(left, rgba(240,240,245,1) 0%,rgba(255,255,255,1) 100%);*/
}

div.divLeft > p {
	text-align: right;
}

</style>
</head>