<head>
<style>

body {
	max-width: 100%;
	margin: 15px;
	border: 20px;
}

* {
	font-family: "Open sans", sans-serif;
	/*color: #595959;*/
	color: white;
	background-color: #3d3d5c;
	/*background-color: #FDF3E7;*/
	/*background-color: #5B3E4B;*/
	/*background-color: white;*/
	position:relative;
	font-size: 20px;
}

body {
	margin-bottom: 500px;
	padding-right: 20px;
}

img {
	width: 70%;
}

p.dots {
	width:3%;
}

div.panel {
	/*padding: 0 18px;*/
	padding-left: 5px;
	padding-right: 7px;
    background-color: #46466d;
    /*background-color: #ffffff;*/
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 80%;
    /*margin: 0 auto;*/
    margin-left: 20%;
}

div.panel > * {
	background-color: #46466d;
}

div.panel.show  {
	opacity: 1;
	max-width: 120vh;
	max-height: 80vh;
	transition:0.4s;
	overflow: auto;
}

div.divMaster {
	display: flex;
	justify-content: center;
	overflow:hidden;
	margin-left: 10%;
}

div.divMiddle {
    text-align: center;
    white-space: nowrap;
    transition:0.4s;
    cursor:pointer;
    z-index: 2;						/*adapted from:http://jsfiddle.net/qehmzhdf/;*/
    display:inline-block; /*div only as wide as content*/
}

div.divMiddle.active{
	/*background-color: #ff0066;*/
	transition:0.4s;
	text-transform: uppercase;

}

div.divMiddle:hover > p{
	/*color: white;*/
	background-color: #46466d;
}

div.divMiddle.active > p {
	color:white;
	/*background-color: #ff0066;*/

}

div.divMiddle:hover {
	background-color:#46466d;
}

div.divMiddle > p {
	color: #ff0066;
	margin-left: 5px;
	margin-right: 5px;
	height: auto;
    width: auto;
    white-space: nowrap;
    transition:0.4s;
}

div.divRight > p {
	text-align: left; 
}

div.divRight {
	position:absolute;
	margin-left: 0px;
	color: white;
	transition: 0.4s ease-in-out;
	top:0;right:0;
    transform:translateX(100%);		/*adapted from:http://jsfiddle.net/qehmzhdf/;*/
    overflow:hidden;
}

div.divLeft {
	width:-10%;
	position:absolute;
	transition: 0.4s ease-in-out;
	top:0;left:0;
    transform:translateX(-100%);	/*adapted from:http://jsfiddle.net/qehmzhdf/;*/
}

div.divLeft > p {
	text-align: right;
}

.hide {
	display:none;
}


@media only screen and (min-device-width: 1000px) {
	div#links {
	    position: fixed;
	    top: 5px; 
	    left: 7px; 
	    width: 15%; 
	    border: 3px solid white; 
		z-index:1000;
		padding: 0px 2px 0px 3px;
	}
	a#links {
		font-size: 15px;
	}
	a:hover {
		color: #ff0066
	}
}

@media only screen and (max-device-width: 1000px) {
	div#links {
	    position: fixed;
	    bottom: 5px; 
	    width: 93%;
	    height: 60px; 
	    border: 3px solid white; 
		/*background-color: #46466d;*/
		/*opacity: 0.5; */
		z-index:1000;
		padding: 0px 0px 0px 0px;
		overflow: auto;
	}
	#links {
		font-size: 10px;
	}

	div.panel, div.divMaster{
		margin: 0 auto;
	}
	body {
		padding-right: 2px;
	}

}


/*Scroll bar visibility, copied from Stackoverflow*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}








</style>
</head>