<head>
<style>

body {
	max-width: 100%;
	margin: 15px;
}
button.homeButton {
	margin-left: 80px;
	margin-top: 40px;
}

h1 {
    color: #0000e6;
    margin-left: 80px;
    margin-top: 70px;
} 

* {
	font-family: "Open sans", sans-serif;
	color: white;
	background-color: #3d3d5c;
	position:relative;
	font-size: 20px;
}

img {
	width: 70%;
}

p.dots {
	width:3%;
}

div.panel {
	padding: 0 18px;
    background-color: #46466d;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    width: 80%;
    margin: 0 auto;
}

div.panel.show {
	opacity: 1;
	max-height: 80vh;
	transition:0.4s;
	overflow: auto;
}

div.divMaster {
	display: flex;
	justify-content: center;
	overflow:hidden;
}

div.divMiddle {
    text-align: center;
    white-space: nowrap;
    transition:0.4s;
    cursor:pointer;
    z-index: 2;						/*adapted from:http://jsfiddle.net/qehmzhdf/;*/
    display:inline-block; /*div only as wide as content*/
}

div.divMiddle.active{
	/*background-color: #ff0066;*/
	transition:0.4s;
	text-transform: uppercase;

}

div.divMiddle:hover > p{
	/*color: white;*/
	/*background-color: #ff0066;*/
}

div.divMiddle.active > p {
	color:white;
	/*background-color: #ff0066;*/

}

div.divMiddle:hover {
	/*background-color:#ff0066;*/
	outline-color: white;
}

div.divMiddle > p {
	color: #ff0066;
	margin-left: 5px;
	margin-right: 5px;
	height: auto;
    width: auto;
    white-space: nowrap;
    transition:0.4s;
}

div.divRight > p {
	text-align: left; 
}

div.divRight {
	position:absolute;
	margin-left: 0px;
	color: white;
	transition: 0.4s ease-in-out;
	top:0;right:0;
    transform:translateX(100%);		/*adapted from:http://jsfiddle.net/qehmzhdf/;*/
    overflow:hidden;
}

div.divLeft {
	width:-10%;
	position:absolute;
	transition: 0.4s ease-in-out;
	top:0;left:0;
    transform:translateX(-100%);	/*adapted from:http://jsfiddle.net/qehmzhdf/;*/
}

div.divLeft > p {
	text-align: right;
}

.hide {
	display:none;
}



</style>
</head>